<mat-toolbar color="primary">
  <div class="navbar">
    <div class="nav-left">
      <button mat-button class="navbar__logo-button" routerLink="/login">
        <div class="navbar__logo-button--wrapper">
          <span class="navbar__logo">P</span> Pakshya
        </div>
      </button>
      <button mat-button routerLink="/posts">
        Posts
      </button>
      <button mat-button [routerLink]="['/posts/create']" *ngIf="loggedIn()">
        <i class="material-icons" style="margin-right: 5px;">
          create
        </i>
        Create new post
      </button>
    </div>
    <div class="nav-right">
      <button mat-button [matMenuTriggerFor]="menu" *ngIf="loggedIn()"> 
        <!-- <img [src]="authService.currentUser1?.image? authService.currentUser1?.image : '../assets/user.png'" onerror="this.src ='../assets/user.png'" [alt]="authService.currentUser1?.username" class="avatar"> -->
        <img src={{photoUrl}} onerror="this.src ='../assets/user.png'" [alt]="authService.currentUser1?.username" class="avatar">
        {{ authService.currentUser1?.displayName | titlecase}}
       
        <mat-icon aria-hidden="true" role="img" class="mat-icon notranslate material-icons mat-icon-no-color">arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item [routerLink]="['/profile', authService.currentUser1?.username]">
          <div class="select-wrapper">
            <i class="material-icons">
              brush
              </i>
              <span>Profile</span>
          </div>
          
          </button>
        <button mat-menu-item (click) = "logout()">
          <div class="select-wrapper">
            <i class="material-icons">
              power_settings_new
              </i>
              <span>Logout</span>
          </div>
          
          </button>
      </mat-menu>
      
      <button mat-button routerLink="/account/login" *ngIf="!loggedIn()">
        Login
      </button>
      <button mat-button routerLink="/account/signup" *ngIf="!loggedIn()">
        Signup
      </button>

    </div>
  </div>
</mat-toolbar>
