<div class="about-topic-wrapper">
  <form>
    <div class="interest-box" >
        <mat-selection-list [disabled]="!edit" #list [(ngModel)]="interestsOfUsers" [ngModelOptions]="{standalone: true}">
          <mat-list-option *ngFor="let inte of allInterests" [value]="inte.id">
            {{inte.value}}
          </mat-list-option>
      </mat-selection-list>
      <div class=button-container>
        <button type="submit" color="primary"[disabled]="!edit" mat-raised-button (click)="updateUserInterests()">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
