.post-wrapper {
  display: flex;
  gap: 3rem;
  margin-top: 100px;

}
.sidebar {
  flex: 2
}

.post {
  flex: 10;

  // &__image {
  //   height: 20rem;
  //   width: 100%;
  //   background-size: cover;
  // }
}

.avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.right-sidebar{
  flex: 2;
}
