.post-wrapper {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 2fr 6fr 1fr;
  grid-column-gap: 20px;
}
.sidebar{
  grid-row: 1 /-1;
  grid-column: 1 / 2;
}
.post {
  grid-row: 1 /-1;
  grid-column: 2 / 3;

  &__image {
    height: 20rem;
    width: 100%;
    background-size: cover;
  }
}

.avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.right-sidebar{
  grid-row: 1 /-1;
  grid-column: 3 / 4;
}
