<div class="card ">
  <div class="profile__header">
    <div class="profile--left">
      <img
        src="{{currentUser.image || '../../assets/user.png'}}"
        alt="{{ profile?.displayName }}"
        class="profile__header__img"
      />
      <div class="profile__header__userinfo">
        <h2 class="profile__header__userinfo--username">
          {{ profile?.displayName }}
        </h2>
        
        <!-- <h3 class="profile__header__userinfo--joining">21st Dec, 2019</h3> -->
      </div>
      <div class="follow-button"*ngIf="!edit">
        <button mat-raised-button 
        [ngClass] ="{
          'button-primary': !profile?.following,
          'button-secondary': profile?.following
        }"
        (click) ="onFollow(profile.following, profile.email)">
          {{profile?.following? 'Unfollow': 'Follow'}}
        </button>
      </div>
     
    </div>
    <div class="profile--right">
      <div class="profile__header--followers">
        <p>Following</p>
        <h3 class="followes--no">{{profile.followingCount}}</h3>
      </div>
      <div class="profile__header--followers">
        <p>Followers</p>
        <h3 class="followes--no">{{profile.followersCount}}</h3>
      </div>
      <div class="profile__header--followers">
        <p>Views</p>
        <h3 class="followes--no">{{profile.views}}</h3>
      </div>
    </div>
  </div>
</div>
