<div class="forget__container">
  <div class="card">
    <form *ngIf="!isFormSubmitted" class="form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h1 class="card__headline mb-medium">Forget Password</h1>

      <mat-form-field class="form__input">
        <input
          matInput
          placeholder="Email"
          name="email"
          [(ngModel)]="forgetFormValues.email"
          required
        />
        <mat-error>Email is required.</mat-error>
      </mat-form-field>

      <div class="form__action--wrapper">
        <button
          mat-raised-button
          color="primary"
          class="form__action--left"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          <div class="loading-indicator">
            Login
          </div>
        </button>

        <button mat-raised-button class="form__action" 
            type="button" [routerLink]="['/login']" >
          <div class="loading-indicator">
            Cancel
          </div>
        </button>
      </div>
    </form>
    <div class="message-success" *ngIf="isFormSubmitted">
        <div class="message-success--icon">
            <mat-icon aria-hidden="false"
            color = "primary" 
            aria-label="done icon" inline="true">done</mat-icon>
        </div>
        <p>
            Password reset link has been successfully sent to your registered email.
        </p>
    </div>
  </div>
</div>
