.home__container {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2rem;
    
  &--left{
      grid-column: 1 / 2;
    }
  &--right {
      grid-column: 2 / 3;
    }
  
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.9rem;
    padding: 1rem;
  
    &__input {
      width: 100%;
      color: var(--color-grey-dark-3);
      font-weight: 400;
      border-bottom: var(--color-grey-dark-3);

      &--withHint {
        margin-bottom: 1rem;
      }
    }
    &__textbox {
      width: 100%;
      color: var(--color-grey-dark-3);
      font-weight: 400;
      border-bottom: var(--color-grey-dark-3);
    }

    &__radio {
      margin-top: 1rem;
      width: 100%;
      color: var(--color-grey-dark-3);
      font-weight: 400;
      border-bottom: var(--color-grey-dark-3);
      &--btn:not(:last-child) {
        margin-right: .5rem;
      }
    }

    &__check {
      margin: 1rem 0;
      width: 100%;
      color: var(--color-grey-dark-3);
      font-weight: 400;
      border-bottom: var(--color-grey-dark-3);
    }
  
    &__action {
      &--wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 1rem;
      }
  
      &--left {
        margin-right: 1rem;
      }
    }
  }
  .link {
    margin-top: 1rem;
    color: var(--color-grey-dark-3);
    font-size: .8rem;
    font-weight: 400;
    a {
      color: #673ab7;
      font-size: .8rem;
      text-decoration: none;
    }
  }
  
  .facebook{
      margin: 1rem 0;
  }
  .divder{
      font-size: 1.2rem;
      line-height: 1.3rem;
      font-weight: 500;
      letter-spacing: .4px;
      color: var(--color-grey-dark-1);
  
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      text-align: center;
      &__line{
          width: 100%;
      }
      
  }
  