<div class="card__header">
  <img 
  [src]="post.hostImage ? post.hostImage : '../assets/user.png'"
  alt="UserName" 
  class="avatar" />
  <div class="user-info-box">
    {{post.hostDisplayName}}
    <span>{{ post.date | timeAgo}}</span>
  </div>
  <mat-chip-list aria-label="category" *ngIf="post.category">
    <mat-chip>{{ post.category.value }}</mat-chip>
  </mat-chip-list>
</div>

<h1 class="card__headline">
  {{ post.heading }}
</h1>
<img
  *ngFor="let p of post.photos"
  src="{{ p.url }}"
  alt="Dog"
  class="card__image--list"
/>
<!-- <img *ngIf="post.url" src="{{ post.url }}" alt="Dog" class="card__image" /> -->
<div class="card__description">
  <p>
    {{ post.description }}
  </p>
</div>
<div class="card__footer">
  <div class="engagers-info">
    <div class="engagers-info--like">
      {{ post.noOfLikes < 2 ? "Like" : "Likes" }}
      <span matTooltip="{{ post.noOfLikes }} like this.">
        {{ post.noOfLikes }}
      </span>
    </div>
    <span class="engagers-info--comment">
      {{ post.noOfComments < 2 ? "Comment" : "Comments" }}
      {{ post.noOfComments }}
    </span>
  </div>

  <div class="card__footer--button">
    <hr class="divder__line" />

    <button
      mat-button
      aria-label="thumb_up icon"
      [color]="color"
      class="card__footer--icon"
      (click)="likePost()"
    >
      <mat-icon>thumb_up</mat-icon>
      Like
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
