<div class="cards">
  <div class="card" *ngIf="post$ | async as post">
    <div class="card__header">
      <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="UserName"
        class="avatar"
      />
      <div class="user-info-box">
        Deepak
        <span>{{ post.date }}</span>
      </div>
      <mat-chip-list aria-label="category" *ngIf="post.category">
        <mat-chip>{{ post.category }}</mat-chip>
      </mat-chip-list>
    </div>

    <h1 class="card__headline">
      {{ post.heading }}
      <button
        mat-button
        aria-label="icon-button with edit icon"
        class="card__headline--btn"
        [routerLink]="['/create-post', post.id]"
      >
        <mat-icon class="card__headline--icon" matTooltip="Edit Post"
          >edit</mat-icon
        >
      </button>
      <button
        mat-button
        aria-label="icon-button with delete icon"
        class="card__headline--btn"
      >
        <mat-icon class="card__headline--icon" matTooltip="Edit Post"
          >delete_forever</mat-icon
        >
      </button>
    </h1>

    <img *ngIf="post.url" src="{{ post.url }}" alt="Dog" class="card__image" />
    <div class="card__description">
      <p>
        {{ post.description }}
      </p>
    </div>
    <div class="card__footer">
      <button mat-button aria-label="thumb_up icon" class="card__footer--icon" color="primary">
        <mat-icon>thumb_up</mat-icon>
        For
      </button>
      <button
        mat-button
        aria-label="thumb_down icon"
        class="card__footer--icon"
      >
        <mat-icon>thumb_down</mat-icon>
        Against
      </button>
    </div>
  </div>

  <div class="card comments">
    <div class="comments__for mb-medium">
      <div class="comments__user">
        <img
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="UserName"
          class="avatar"
        />
        <h2 class="comments__user--name">Deepak</h2>
      </div>
      <div class="comments__for--text">
        <h3 class="comments__user--datetime">posted 2 min ago</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        laborum est exercitationem quibusdam. Quisquam exercitationem dicta
        consequuntur omnis natus qui. Adipisci veniam aliquid cupiditate
        deleniti quam dignissimos enim nihil doloribus sint accusamus neque
        tenetur, excepturi ad saepe facilis quae incidunt!
      
      <div class="comment__footer">
        <button
          mat-button
          aria-label="heart icon"
          class="card__footer--icon fav_comment"
        >
          <mat-icon>favorite</mat-icon>
          121
        </button>
        <button mat-button aria-label="reply icon" class="card__footer--icon">
          <mat-icon>reply</mat-icon>
          Reply
        </button>
      </div>
    </div>
  </div>

    <div class="comments__against mb-medium">
      <div class="comments__against--text">
        <h3 class="comments__user--datetime">posted 2 min ago</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        laborum est exercitationem quibusdam. Quisquam exercitationem dicta
        consequuntur omnis natus qui. Adipisci veniam aliquid cupiditate
        deleniti quam dignissimos enim nihil doloribus sint accusamus neque
        tenetur, excepturi ad saepe facilis quae incidunt!

        <div class="comment__footer">
          <button
            mat-button
            aria-label="heart icon"
            class="card__footer--icon fav_comment"
          >
            <mat-icon>favorite</mat-icon>
            0
          </button>
          <button mat-button aria-label="reply icon" class="card__footer--icon">
            <mat-icon>reply</mat-icon>
            Reply
          </button>
        </div>
      </div>
      <div class="comments__user">
        <img
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="UserName"
          class="avatar"
        />
        <h2 class="comments__user--name">Deepak</h2>
      </div>
    </div>

    <div class="comments__against mb-medium">
      <div class="comments__against--text">
        <h3 class="comments__user--datetime">posted 2 min ago</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        laborum est exercitationem quibusdam. Quisquam exercitationem dicta
        consequuntur omnis natus qui. Adipisci veniam aliquid cupiditate
        deleniti quam dignissimos enim nihil doloribus sint accusamus neque
        tenetur, excepturi ad saepe facilis quae incidunt!

        <div class="comment__footer">
          <button
            mat-button
            aria-label="heart icon"
            class="card__footer--icon fav_comment"
          >
            <mat-icon>favorite</mat-icon>
            0
          </button>
          <button mat-button aria-label="reply icon" class="card__footer--icon">
            <mat-icon>reply</mat-icon>
            Reply
          </button>
        </div>
      </div>
      <div class="comments__user">
        <img
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="UserName"
          class="avatar"
        />
        <h2 class="comments__user--name">Deepak</h2>
      </div>
    </div>

    <div class="comments__against mb-medium">
      <div class="comments__against--text">
        <h3 class="comments__user--datetime">posted 2 min ago</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        laborum est exercitationem quibusdam. Quisquam exercitationem dicta
        consequuntur omnis natus qui. Adipisci veniam aliquid cupiditate
        deleniti quam dignissimos enim nihil doloribus sint accusamus neque
        tenetur, excepturi ad saepe facilis quae incidunt!

        <div class="comment__footer">
          <button
            mat-button
            aria-label="heart icon"
            class="card__footer--icon fav_comment"
          >
            <mat-icon>favorite</mat-icon>
            0
          </button>
          <button mat-button aria-label="reply icon" class="card__footer--icon">
            <mat-icon>reply</mat-icon>
            Reply
          </button>
        </div>
      </div>
      <div class="comments__user">
        <img
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="UserName"
          class="avatar"
        />
        <h2 class="comments__user--name">Deepak</h2>
      </div>
    </div>

    <div class="comments__against mb-medium">
      <div class="comments__against--text">
        <h3 class="comments__user--datetime">posted 2 min ago</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        laborum est exercitationem quibusdam. Quisquam exercitationem dicta
        consequuntur omnis natus qui. Adipisci veniam aliquid cupiditate
        deleniti quam dignissimos enim nihil doloribus sint accusamus neque
        tenetur, excepturi ad saepe facilis quae incidunt!

        <div class="comment__footer">
          <button
            mat-button
            aria-label="heart icon"
            class="card__footer--icon fav_comment"
          >
            <mat-icon>favorite</mat-icon>
            0
          </button>
          <button mat-button aria-label="reply icon" class="card__footer--icon">
            <mat-icon>reply</mat-icon>
            Reply
          </button>
        </div>
      </div>
      <div class="comments__user">
        <img
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="UserName"
          class="avatar"
        />
        <h2 class="comments__user--name">Deepak</h2>
      </div>
    </div>

    <div class="comments__for mb-medium">
      <div class="comments__user">
        <img
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="UserName"
          class="avatar"
        />
        <h2 class="comments__user--name">Deepak</h2>
      </div>
      <div class="comments__for--text">
        <h3 class="comments__user--datetime">posted 2 min ago</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        laborum est exercitationem quibusdam. Quisquam exercitationem dicta
        consequuntur omnis natus qui. Adipisci veniam aliquid cupiditate
        deleniti quam dignissimos enim nihil doloribus sint accusamus neque
        tenetur, excepturi ad saepe facilis quae incidunt!
      
      <div class="comment__footer">
        <button
          mat-button
          aria-label="heart icon"
          class="card__footer--icon fav_comment"
        >
          <mat-icon>favorite</mat-icon>
          121
        </button>
        <button mat-button aria-label="reply icon" class="card__footer--icon">
          <mat-icon>reply</mat-icon>
          Reply
        </button>
      </div>
    </div>
  </div>
  

