.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.avatar-following {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  margin-right: -5px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 1rem;
  background: #fff;
  box-shadow: var(--shadow-light);
  margin-bottom: 1rem;
  border-radius: 4px;
  transition: all .2s;

  &:hover {
    --shadow-light : 0 1.1rem 3rem rgba(0,0,0, .14);
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
  }
  &__headline {
    font-size: 1.2rem;
    line-height: 1.25rem;
    font-weight: 500;
    // letter-spacing: .4px;
    color: var(--color-grey-dark-1);
    margin-bottom: .5rem;

    &--icon {
      font-size: 1rem;
      color: var(--color-grey-dark-3);
    }
    &--btn {
      min-width: 0 !important;
      padding: 0 !important;
    }   
  }
  &__image{
    display: block;
    height: auto;
    max-width: 100%;
    margin-bottom: .5rem;
  }
  &__image--list{
    display: block;
    max-height: 25rem;
    max-width: 100%;
    margin-bottom: .5rem;
  }

  &__description {
    font-size: .85rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    font-weight: 400;
    color: var(--color-grey-dark-2);
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    color: var(--color-grey-dark-2);
    // & > * {
    //   margin-right: 10rem;
    //   font-weight: 400;
    // }
  }
}

.user-info-box {
  display: flex;
  flex-direction: column;
  color: var(--color-grey-dark-1);
  font-weight: 500;
  line-height: 1.3rem;
  margin-right: auto;

  span {
    color: var(--color-grey-dark-3);
    font-size: .9rem;
    font-weight: 300;
  }
}

.mat-button.fav_comment {
  color: #e01414;
}

.mat-chip {
  font-weight: 600;
  color: var(--color-grey-dark-1);
}
// .mat-icon-button {
//   width: 85px !important;
// }