<div class="form-wrapper">
  <div class="card create-form">
    <form class="form" [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
      <h1 class="card__headline mb-medium">{{ page }} Post</h1>

      <mat-form-field class="form__input">
        <input matInput placeholder="Heading" formControlName="heading" />
        <mat-error>Please provide a heading for your post.</mat-error>
      </mat-form-field>
      <mat-form-field class="form__textbox">
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
        ></textarea>
        <mat-error>Please provide a description for your post</mat-error>
      </mat-form-field>

      <mat-form-field class="form__input">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" [compareWith]="compareObjects">
          <mat-option *ngFor="let c of categories" [value]="c">
            {{ c.value }}
          </mat-option>
        </mat-select>
        <mat-error>Please select a category.</mat-error>
      </mat-form-field>

      <div class="image-section">
        <div class="image-section--preview">
          <img
            class="image-section--img"
            [src]="imgURL"
            height="200"
            *ngIf="imgURL"
            style="border: 1px solid black;"
          />
          <button class="image-section--preview--button" *ngIf="imgURL" mat-mini-fab 
            color="primary" aria-label="icon button with a highlight_off icon"
            type="button" 
            matTooltip="Remove image"
            (click)="removeImage()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="fileinput.click()"
        >
        <div class="button-content">
          <i class="material-icons">
            add_a_photo
          </i>
          <span>
            {{ imgURL? "Another image instead" : "Add Image" }}
          </span>
        </div>
        </button>
        <input
          type="file"
          accept="image/*"
          hidden
          #fileinput
          (change)="onFileChange($event)"
        />
      </div>

      <div class="form__action--wrapper">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="createPostForm.invalid"
          class="form__action--left"
        >
          Submit
        </button>
        <button
          type="button"
          mat-raised-button
          (click)="onCancelCreateEditForm()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
  <div class="right-sidebar">
    <app-right-sidebar></app-right-sidebar>
  </div>
</div>
