<div class="card comments">
  <div class="comments__for mb-medium">
    <div class="comments__user">
      <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="UserName"
        class="avatar"
      />
      <h2 class="comments__user--name">Deepak</h2>
    </div>
    <div class="comments__for--text">
      <h3 class="comments__user--datetime">posted 2 min ago</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
      laborum est exercitationem quibusdam. Quisquam exercitationem dicta
      consequuntur omnis natus qui. Adipisci veniam aliquid cupiditate
      deleniti quam dignissimos enim nihil doloribus sint accusamus neque
      tenetur, excepturi ad saepe facilis quae incidunt!
    
    <div class="comment__footer">
      <button
        mat-button
        aria-label="heart icon"
        class="card__footer--icon fav_comment"
      >
        <mat-icon>favorite</mat-icon>
        121
      </button>
      <button mat-button aria-label="reply icon" class="card__footer--icon">
        <mat-icon>reply</mat-icon>
        Reply
      </button>
    </div>
  </div>
</div>

  <div class="comments__against mb-medium">
    <div class="comments__against--text">
      <h3 class="comments__user--datetime">posted 2 min ago</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
      laborum est exercitationem quibusdam. Quisquam exercitationem dicta
      consequuntur omnis natus qui. Adipisci veniam aliquid cupiditate
      deleniti quam dignissimos enim nihil doloribus sint accusamus neque
      tenetur, excepturi ad saepe facilis quae incidunt!

      <div class="comment__footer">
        <button
          mat-button
          aria-label="heart icon"
          class="card__footer--icon fav_comment"
        >
          <mat-icon>favorite</mat-icon>
          0
        </button>
        <button mat-button aria-label="reply icon" class="card__footer--icon">
          <mat-icon>reply</mat-icon>
          Reply
        </button>
      </div>
    </div>
    <div class="comments__user">
      <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="UserName"
        class="avatar"
      />
      <h2 class="comments__user--name">Deepak</h2>
    </div>
  </div>

  <div class="comments__against mb-medium">
    <div class="comments__against--text">
      <h3 class="comments__user--datetime">posted 2 min ago</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
      laborum est exercitationem quibusdam. Quisquam exercitationem dicta
      consequuntur omnis natus qui. Adipisci veniam aliquid cupiditate
      deleniti quam dignissimos enim nihil doloribus sint accusamus neque
      tenetur, excepturi ad saepe facilis quae incidunt!

      <div class="comment__footer">
        <button
          mat-button
          aria-label="heart icon"
          class="card__footer--icon fav_comment"
        >
          <mat-icon>favorite</mat-icon>
          0
        </button>
        <button mat-button aria-label="reply icon" class="card__footer--icon">
          <mat-icon>reply</mat-icon>
          Reply
        </button>
      </div>
    </div>
    <div class="comments__user">
      <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="UserName"
        class="avatar"
      />
      <h2 class="comments__user--name">Deepak</h2>
    </div>
  </div>

  <div class="comments__against mb-medium">
    <div class="comments__against--text">
      <h3 class="comments__user--datetime">posted 2 min ago</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
      laborum est exercitationem quibusdam. Quisquam exercitationem dicta
      consequuntur omnis natus qui. Adipisci veniam aliquid cupiditate
      deleniti quam dignissimos enim nihil doloribus sint accusamus neque
      tenetur, excepturi ad saepe facilis quae incidunt!

      <div class="comment__footer">
        <button
          mat-button
          aria-label="heart icon"
          class="card__footer--icon fav_comment"
        >
          <mat-icon>favorite</mat-icon>
          0
        </button>
        <button mat-button aria-label="reply icon" class="card__footer--icon">
          <mat-icon>reply</mat-icon>
          Reply
        </button>
      </div>
    </div>
    <div class="comments__user">
      <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="UserName"
        class="avatar"
      />
      <h2 class="comments__user--name">Deepak</h2>
    </div>
  </div>

  <div class="comments__against mb-medium">
    <div class="comments__against--text">
      <h3 class="comments__user--datetime">posted 2 min ago</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
      laborum est exercitationem quibusdam. Quisquam exercitationem dicta
      consequuntur omnis natus qui. Adipisci veniam aliquid cupiditate
      deleniti quam dignissimos enim nihil doloribus sint accusamus neque
      tenetur, excepturi ad saepe facilis quae incidunt!

      <div class="comment__footer">
        <button
          mat-button
          aria-label="heart icon"
          class="card__footer--icon fav_comment"
        >
          <mat-icon>favorite</mat-icon>
          0
        </button>
        <button mat-button aria-label="reply icon" class="card__footer--icon">
          <mat-icon>reply</mat-icon>
          Reply
        </button>
      </div>
    </div>
    <div class="comments__user">
      <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="UserName"
        class="avatar"
      />
      <h2 class="comments__user--name">Deepak</h2>
    </div>
  </div>

  <div class="comments__for mb-medium">
    <div class="comments__user">
      <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="UserName"
        class="avatar"
      />
      <h2 class="comments__user--name">Deepak</h2>
    </div>
    <div class="comments__for--text">
      <h3 class="comments__user--datetime">posted 2 min ago</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
      laborum est exercitationem quibusdam. Quisquam exercitationem dicta
      consequuntur omnis natus qui. Adipisci veniam aliquid cupiditate
      deleniti quam dignissimos enim nihil doloribus sint accusamus neque
      tenetur, excepturi ad saepe facilis quae incidunt!
    
    <div class="comment__footer">
      <button
        mat-button
        aria-label="heart icon"
        class="card__footer--icon fav_comment"
      >
        <mat-icon>favorite</mat-icon>
        121
      </button>
      <button mat-button aria-label="reply icon" class="card__footer--icon">
        <mat-icon>reply</mat-icon>
        Reply
      </button>
    </div>
  </div>
</div>