<div class="card">
  <div class="commentbox">
    <form class="form">
      <mat-form-field
        class="form__textbox"
        hintLabel="Not more than 1000 words."
      >
        <textarea
          matInput
          placeholder="What you think about it?"
          [(ngModel)]="comment"
          name="comment"
          value="comment"
          maxlength="1000"
          #commentValue="ngModel"
        ></textarea>
        <mat-error *ngIf="commentValue.hasError('maxlength')"
          >Comment should be less than 1000 characters.</mat-error
        >
        <mat-hint align="end"
          >{{ commentValue?.value?.length }} / 1000</mat-hint
        >
      </mat-form-field>
      <div class="form__action--wrapper">
        <div class="comment-buttons">
          <mat-radio-group
            aria-label="Select an option"
            color="primary"
            [(ngModel)]="type"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-radio-button value="support">Agree</mat-radio-button>
            <mat-radio-button value="against">Don't agree</mat-radio-button>
          </mat-radio-group>
          <button
            mat-raised-button
            color="primary"
            class="form__action--left"
            (click)="addComment()"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card comments">

  <div
    class=" mb-medium"
    *ngFor="let comment of allComments"
    [ngClass]="comment.support ? 'comments__for' : 'comments__against'"
  >
    <!-- User Placement for For Comment -->
    <div class="comments__user" *ngIf="comment?.support">
      <img
        [src]="comment?.authorImage ? comment?.authorImage : '../assets/user.png'"
        alt="UserName"
        class="avatar"
      />
      <h2 class="comments__user--name">{{ comment?.authorDisplayName }}</h2>
    </div>

    <!-- Comment Text depending on for or against -->
    <div
      [ngClass]="
        comment.support ? 'comments__for--text' : 'comments__against--text'
      "
    >
      <div class="comment-header">
        <h3 class="comments__user--datetime">{{ comment.date | timeago }}</h3>
        <ng-container *ngIf="(loggedInUser$ | async) as currentUser">
          <div *ngIf="currentUser.id == comment.id">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="commentDelete(comment)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </div>
        </ng-container>
        
      </div>

      {{ comment.body }}

      <div class="comment__footer">
        <button
          mat-button
          aria-label="heart icon"
          class="card__footer--icon"
          [ngClass]="{'fav_comment': comment.hasLoggedInUserLiked}"
          (click)="likeComment(comment)">
          <mat-icon>favorite</mat-icon>
          {{comment.totalLikes}}
        </button>
        <button
          mat-button
          aria-label="reply icon"
          class="card__footer--icon"
          (click)="onReply(comment?.authorDisplayName)"
        >
          <mat-icon>reply</mat-icon>
          Reply
        </button>
      </div>
    </div>

    <!-- User info if Comment is against -->
    <div class="comments__user" *ngIf="comment.against">
      <img
        [src]="comment?.authorImage ? comment?.authorImage : '../assets/user.png'"
        alt="{{ comment?.authorDisplayName }}"
        class="avatar"
      />
      <h2 class="comments__user--name">{{ comment?.authorDisplayName }}</h2>
    </div>
  </div>
  <div class="comments__seemore">
    <button *ngIf="pagination?.currentPage < pagination?.totalPages " (click) ="seeMore()" class="comments__seemore--button" mat-button >See more</button>
  </div>
</div>
