<div class="card">
  <h2 class="section-heading">Pakshya - Stats</h2>

    <mat-tab-group>
      <mat-tab label="Posted" class="section-sub-heading">
        <mat-list class="sub-heading-list">
          <div *ngFor="let posted of profile.posts">
            <mat-list-item>
             {{posted.heading}} - ({{posted.noOfLikes}}) 
            </mat-list-item>
            <mat-divider></mat-divider>
          </div>
        </mat-list>
          
         
      </mat-tab>
      <mat-tab label="Comments">
        <mat-list class="sub-heading-list">
          <div *ngFor="let comment of profile.comments">
            <mat-list-item>
             {{comment.body}} - ({{comment.noOfLikes}}) 
            </mat-list-item>
            
            <mat-divider></mat-divider>
          </div>
        </mat-list>
      </mat-tab>
      <mat-tab label="Following">
       <div class="following-tab">
         <div class="follow-box" *ngFor="let follow of profile.followings">
          <img [src]="follow?.url ? follow?.url : '../assets/user.png'" alt="" class="follow-box-image">
           <div class="follow-box-info">
              {{follow.displayName}}
           </div>
         </div>
       </div>
      </mat-tab>
      <mat-tab label="Followers">
        <div class="following-tab">
          <div class="follow-box" *ngFor="let follow of profile.followers">
           <img [src]="follow?.url ? follow?.url : '../assets/user.png'" alt="" class="follow-box-image">
            <div class="follow-box-info">
               {{follow.displayName}}
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Active Since">
        <p class="sub-heading-para">20 Aug, 2010</p>
      </mat-tab>
    </mat-tab-group>
  </div>

