@model Application.User.ResetPasswordDto

<div class="body-wrapper">
    <div class="authentication-bg-wrapper">
        <div class="authentication-container">
            <div class="authentication-content-wrapapper d-flex justify-content-center align-items-center">
                <div class="card authentication-wrapper">
                    <div class="card-content">
                        <h4 class="text-center text-uppercase title">Reset Password</h4>
                        <div class="authentication-form-wrapper">
                            <form method="post" id="passwordForm">
                                <div asp-validation-summary="All" class="validation-container" style="display:none" onerror=""></div>
                                <input asp-for="Token" type="hidden" required>
                                <input asp-for="User" type="hidden" required>

                                <div class="input-field">
                                    <i class="prefix fa fa-lock"></i>
                                    <input id="password" class="validate" type="password" asp-for="Password" oninput="enableElement('btnSubmitPassword')">
                                    <label for="password" class="active" asp-for="Password"></label>
                                    <span class="text-danger helper-text field-validation-error" asp-validation-for="Password"></span>
                                </div>
                                <div class="input-field">
                                    <i class="prefix fa fa-lock"></i>
                                    <input id="re-passwoord" class="validate" type="password" asp-for="ConfirmPassword" oninput="enableElement('btnSubmitPassword')">
                                    <label for="re-passwoord" class="active" asp-for="ConfirmPassword">Re-Passwoord</label>
                                    <span class="text-danger helper-text field-validation-error" asp-validation-for="ConfirmPassword"></span>
                                </div>
                                <div class="button-wrapper">
                                    <button class="btn button-primary button-block" id="btnSubmitPassword" type="submit" disabled onclick="showToast();">Submit</button>
                                </div>
                                @foreach (var item in ViewData.ModelState.Values)
                                {
                                    @foreach (var error in item.Errors)
                                    {
                                        <script>showToast('@error.ErrorMessage') </script>
                                    }
                                }
                                @{
                                    <script>resetForm('passwordForm')</script>
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


