<div class="body-wrapper">
    <div class="authentication-bg-wrapper">
        <div class="authentication-container">
            <div class="authentication-content-wrapapper d-flex justify-content-center align-items-center">
                <div class="card authentication-wrapper">
                    <div class="card-content">
                        <h4 class="text-center text-uppercase title">Success</h4>
                        <p class="text-center">Your Password has been reset.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


