<div class="home__container">
  <div class="home__container--left">
    <div style="position: relative;">
     
      <p class="intro-text">
        <span class="open">&ldquo;</span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
        consequatur adipisci in voluptates? Rem nam ducimus repellat eveniet
        dolores quam debitis exercitationem, ipsum unde error non et officia
        saepe autem nulla minus, cum beatae recusandae eaque perspiciatis
        voluptatem. Vel, vitae?
       
      </p>
      <p class="intro-text">
        <span class="open">&ldquo;</span>
        जब तक आपके अन्दर जुनून और विश्वास है और मेहनत के लिए तैयार हैं, तब तक दुनिया में आप कोई भी काम कर सकते हैं और कुछ भी पा सकते है| दोस्तों ज़िन्दगीं में किसी भी मंज़िल या मुकाम को पाने के लिए सबसे आवश्यक चीज़ आपकी मेहनत तथा आपका धैर्य है। अगर आप ईमानदारी से मेहनत करते हुए तथा कभी भी धैर्य ना खोते हुए अपने मंज़िल की तरफ़ कदम बढ़ाते है तो दुनिया की कोई भी ताकत तथा कोई भी अड़चन आपको सफ़ल होने से नहीं रोक सकती। लेकिन कई बार ऐसा होता है कि जब हमें लगातार मेहनत करने के बाद भी सफलता नही मिलती है तो हम निराश होकर प्रयास करना छोड़ देते है। लेकिन दोस्तो आपको कभी भी निराश नहीं होना चाहिए बल्कि ऐसे समय पर आपको एक बार और पूरी ताकत के साथ प्रयास करने की ज़रूरत होती है।
      </p>
      
    </div>
  </div>
  <div class="home__container--right">
    <!-- <app-login></app-login> -->
    <router-outlet></router-outlet>
  </div>
</div>
