<div class="home__container">
  <div class="home__container--left">
    <app-pakshya-infro></app-pakshya-infro>
  </div>
  <div class="home__container--right">
    <div class="login__conatiner card">
      <form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h1 class="card__headline mb-medium">Login</h1>
    
        <mat-form-field class="form__input">
          <input matInput placeholder="Email" 
           name="email"   
           [(ngModel)] = "loginFormValues.email"
           autocomplete="off"
           required />
          <mat-error>Email is required.</mat-error>
        </mat-form-field>
        <mat-form-field class="form__input">
          <input
            matInput
            placeholder="Password"
            name="password"
            type="password"
            [(ngModel)] = "loginFormValues.password"
            required
            #passwordLength="ngModel"
          />
          <mat-error *ngIf="passwordLength.hasError('required')"
            >Password is required.</mat-error
          >
        </mat-form-field>
    
        <div class="form__action--wrapper">
          <button
            mat-raised-button
            color="primary"
            class="form__action"
            type="submit"
            [disabled]="loginForm.invalid">
            
            <div  class="loading-indicator">
              Login
            </div>
          </button>
    
          <div class="link">
            <a [routerLink]="['/account/forget-password']">Forget Password?</a>
          </div>
    
          <div class="link">
            Don't have an account?
            <a [routerLink]="['/account/signup']">Signup</a> here.
          </div>
        </div>
      </form>
      <!-- <div class="divder">
        <hr class="divder__line" />
        <span>Or</span>
        <hr class="divder__line" />
      </div>
    
      <button mat-raised-button class="form__action"
       style="background-color: #4267B2; color: #fff;" class="facebook" (click)="loginFacebook('Facebook')" >
        <div  class="loading-indicator">
          Login via Facebook
        </div>
      </button> -->
      
      <!-- <button color="primary" mat-raised-button class="google">
        Login via Google
      </button> -->
    </div>
  </div>
</div>




