<div class="card">
  <h2 class="section-heading">
    About User
    <!-- <mat-icon class="card__headline--icon" matTooltip="Edit Post" *ngIf="edit">
      edit
    </mat-icon> -->
  </h2>
  <mat-tab-group>
    <mat-tab label="Bio" class="section-sub-heading">
      <p class="sub-heading-para">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam iusto
        nisi ducimus. Est obcaecati temporibus hic repellat deserunt, vero ut.
      </p>
    </mat-tab>
    <mat-tab label="Photos">
      <div class="photos-wrapper">
        <button mat-raised-button color="primary" (click) = "fileinput.click()">
          <i class="material-icons">
            add_a_photo
          </i>
          Add Photo
        </button>
        <input type="file" hidden #fileinput (change)="onFileChange($event)">
        <div class="user-about-details-img">
          <div class="img-wrapper" *ngFor="let photo of profile?.photos">
            <img class="user-photos" [src]="photo.url" alt="" />
            <div class="button-wrapper">
              <button mat-flat-button color="primary" 
              [disabled]="photo.isMain" (click)="setMainPhoto(photo)">
                Set Main
              </button>
              <button mat-stroked-button color="warn" 
              [disabled]="photo.isMain" (click)="deletePhoto(photo.id)">
                <i class="material-icons">
                  delete_forever
                </i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Education">
      <p class="sub-heading-para">IPU Univeristy</p>
    </mat-tab>
    <mat-tab label="Worked At">
      <p class="sub-heading-para">Infosys Limited</p>
    </mat-tab>
    <mat-tab label="Interests/ Followed Topic">
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let fruit of fruits"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(fruit)"
            disabled
          >
            {{ fruit }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            #fruitInput
            [formControl]="fruitCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selected($event)"
        >
          <mat-option
            *ngFor="let fruit of filteredFruits | async"
            [value]="fruit"
          >
            {{ fruit }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-tab>

    <mat-tab label="Lives At">
      <p class="sub-heading-para">New Delhi, India</p>
    </mat-tab>
  </mat-tab-group>
</div>
